# Spring Boot
**/target/
**/build/
**/*.class
**/*.log

# IDE Files
**/.idea/
**/.vscode/


# Maven
**/.mvn/
**/mvnw
**/mvnw.cmd
!**/mvn-wrapper.jar

# Spring Boot DevTools
**/.restart
**/.springBeans

# Eclipse
**/.settings/

# Miscellaneous
**/*.iml
**/*.ipr
**/*.iws